<section class="personalized-solution">
  <section class="content">
    <h2>Precisa de uma solução personalizada?</h2>
    <p>
      Entre em contato conosco e nós o ajudaremos a criar o ideal para suas
      necessidades empresariais ou pessoais.
    </p>
    <button class="btn btn-outline-secondary btn-bg">
      <a
        class="nav-link active"
        aria-current="page"
        routerLink="signup"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Entre em contato</a
      >
    </button>
  </section>
  <section class="banner"></section>
</section>
