<section class="footer">
  <div class="footer-content">
    <div class="footer-content-item">
      <ul>
        <li>Para você</li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Conta digital</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Cartão de crédito</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Pix</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Rendimento</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-content-item">
      <ul>
        <li>Para seu negócio</li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Negócios</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Venda online</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Máquinhas</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          ></a>
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Soluções e-commerce</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-content-item">
      <ul>
        <li>Sobre nós</li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Carreira</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Ética</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Open finance</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-content-item">
      <ul>
        <li>Informações</li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Canais de atendimento</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Ouvidoria</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Regulamentação</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Segurança</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Termos de privacidade</a
          >
        </li>
        <li>
          <a
            aria-current="page"
            routerLink="signup"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Trabalhe conosco</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-logo-socials">
    <div class="footer-logo">
      <a
        aria-current="page"
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><img
          src="../../../assets/imgs/logo.png"
          alt="SimplifyPay"
          title="SimplifyPay"
      /></a>
    </div>
    <div class="footer-socials">
      <!-- instagram -->
      <a href="" title="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <!-- facebook -->
      <a href="" title="Facebook">
        <i class="fa-brands fa-facebook"></i>
      </a>
      <!-- twitter -->
      <a href="" title="Twitter">
        <i class="fa-brands fa-x-twitter"></i>
      </a>
      <!-- youtube -->
      <a href="" title="Youtube">
        <i class="fa-brands fa-youtube"></i>
      </a>
      <!-- tiktok -->
      <a href="" title="Tiktok">
        <i class="fa-brands fa-tiktok"></i>
      </a>
    </div>
  </div>
  <div class="footer-allrights">
    Todos os direitos reservados &copy; {{ year }} Brasil.
  </div>
</section>
