<div class="plus-wrapper">
  <section class="plus-presentation">
    <div class="full-account">
      <h2>Conta completa</h2>
      <p>
        Sua conta oferece uma conta digital com benefícios especiais, Pix,
        Seguros, cartão de débito para seus filhos, recarga de celular e muito
        mais, tudo sem cobrança de taxas ou custos de manutenção.
      </p>
    </div>
    <div class="annuality">
      <h2>Cartão sem anuidade</h2>
      <p>
        Cartão de crédito sem anuidade, sem tarifas extras, tudo repleto de
        benefícios e realize compras com facilidade e segurança em qualquer
        lugar do mundo.
      </p>
    </div>
  </section>
</div>
