<section class="ad">
  <div class="img-wraper">
    <figure>
      <img
        src="../../../../assets/imgs/login-cadastro/login-img.svg"
        alt="ImaPay logo"
        width="200"
      />
    </figure>
  </div>

  <div class="content-wrapper">
    <h1>Banking Made Easier!</h1>
    <p>
      <span
        ><img
          src="../../../../assets/imgs/login-cadastro/right-arrow.svg"
          alt=""
      /></span>
      <span
        >Manage your finances, anywhere, anytime. Transfer money, pay bills and
        monitor your cards with ease</span
      >
    </p>
  </div>
</section>
