<section class="products-presentation">
  <section class="banner"></section>
  <section class="content">
    <div class="bell-wrapper">
      <img src="../../../assets/imgs/bell.jpg" alt="Green Bell" />
    </div>
    <div class="content-text">
      <h3>Smart Banking</h3>
      <h2>Notificações em tempo real</h2>
      <h5>
        Receba informações instantâneas e relevantes diretamente na palma da sua
        mão. Fique sempre atualizado sobre eventos importantes, novidades e
        atualizações cruciais, mantendo-se conectado e informado a cada momento.
      </h5>
    </div>
  </section>
</section>
