.wrapper{
    width: fit-content;
    height: fit-content;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.smart-banking-presentation{
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 100vw;
    display: flex;
    font-family: 'Inter' ,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('../../../assets/imgs/notification.jpg') no-repeat left bottom local; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 50%; 


    background-color: var(--background-neutro-terciario);
}

.banner
{
    width: 80%;
}

.content{
    width: 100%;
    padding: 0 10%;
    text-wrap: balance;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bell-wrapper{
    display: flex;
    align-self: flex-start;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--background-secundario);
    margin-bottom: 2rem;
}


.bell-wrapper figure img{
    width: 40%;
}

h3{
    color: var(--cor-texto-secundario);
    font-weight: 300;
    padding-bottom: 1rem;
}

h2{
    font-weight: bold;
    font-size: 2.5rem;
    padding-bottom: 1rem;
}

h5{
    font-weight: 200;
}


@media(min-width: 1440px) {
    .content{
        padding-left: 5%;
    }
    .smart-banking-presentation{
        background-size: 40%;
    }
}

@media(min-width: 1920px) {
    .content{
        padding-left: 5%;
    }
    .smart-banking-presentation{
        height: 900px;
        background-size: 37%;
    }
}

@media(max-width: 768px) {
    .wrapper{
        padding-top: 0;
    }
    .smart-banking-presentation{
        height: fit-content;
        background-size: 0;
        display: block
    }
}
