<header class="fade-in">
  <div class="container-menu">
    <div class="conteudo-menu">
      <div class="hamburger-menu" (click)="toggleMenu()">
        <img src="../../../assets/imgs/menu.png" class="icon-menu" alt="menu" />
      </div>
      <div class="logo">
        <a routerLink="/home">Simplify<span class="pay">Pay</span></a>

        <nav (click)="toggleMenu()">
          <div class="nav-list" [ngClass]="{ show: isMenuOpen }">
            <a routerLink="/home" class="link">Home</a>
            <a routerLink="/transacoes" class="link">Transações</a>
            <a routerLink="/deposit" class="link">Depositar</a>
            <a routerLink="/withdraw" class="link">Sacar</a>
            <a routerLink="/transfer" class="link">Transferir</a>
            <!-- <a routerLink="/home" class="link">Sobre nós</a> -->
          </div>
        </nav>
      </div>

      <div class="perfil">
        <div>
          <img
            class="icon"
            src="../../../assets/imgs/alerta.png"
            alt="notificacao"
          />
        </div>

        <div>
          <img
            class="icon img-user"
            src="../../../assets/imgs/pessoa.png"
            alt="Usuário"
          />
        </div>

        <div>
          <i
            (click)="logOut()"
            class="fa-solid fa-right-from-bracket logout"
          ></i>
        </div>
      </div>
    </div>
  </div>
</header>
