<header class="fade-in">
  <div class="container-menu">
    <div class="conteudo-menu">
      <div class="hamburger-menu" (click)="toggleMenu()">
        <img src="../../../assets/imgs/menu.png" class="icon-menu" alt="menu" />
      </div>
      <div class="logo">
        <a routerLink="/home">Simplify<span class="pay">Pay</span></a>
      </div>
      <nav (click)="toggleMenu()">
        <div class="nav-list" [ngClass]="{ show: isMenuOpen }">
          <a routerLink="/home" class="link">Home</a>
          <a routerLink="/transacoes" class="link link-transacao">Transações</a>
        </div>

        <div class="perfil">
          <div class="item-perfil">
            <img
              class="icon icon-perfil"
              src="../../../assets/imgs/notificacao.png"
              alt="notificacao"
            />
          </div>
          <div class="img-perfil">
            <img class="icon" src="../../../assets/imgs/pessoa.png" alt="" />
          </div>
          <div class="img-perfil">
            <i
              (click)="logOut()"
              routerLink="/"
              class="fa-solid fa-right-from-bracket"
            ></i>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
