<app-menu></app-menu>
<div class="container-home">
    
    <div class="container-geral">
        <div class="container-side">
            <!-- Ação rápida -->
            <div class="container-acao-rapida">
                <h2>Ações rápidas</h2>     
                <div class="content-acao-rapida">
                    <div class="grid-icones">
                        <div class="item-acao-rapida">
                            <div class="icon-card"><img class=img-acao-rapida src="../../assets/imgs/pix.png" alt="Pix"></div>
                            <p class="nome-icone">Área Pix</p>
                        </div>
                        <div class="item-acao-rapida">
                            <div class="icon-card"><img class=img-acao-rapida src="../../assets/imgs/pagar.png" alt="Pagar"></div>
                            <p class="nome-icone">Pagar</p>
                        </div>
                        <div class="item-acao-rapida">
                            <div class="icon-card"><img class="img-acao-rapida" src="../../assets/imgs/transf.png" alt="transferencia"></div>
                            <p class="nome-icone">Transferir</p>
                        </div>
                        <div class="item-acao-rapida">
                            <div class="icon-card"><img class=img-acao-rapida src="../../assets/imgs/investir.png" alt="Investir"></div>
                            <p class="nome-icone">Investir</p>
                        </div>
                        <div class="item-acao-rapida">
                            <div class="icon-card"><img class=img-acao-rapida src="../../assets/imgs/add.png" alt="adicionar atalho"></div>
                            <p class="nome-icone">Adicionar atalhos</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separador"></div>
            
            <!-- Cartão de crédito -->
            <div class="container-cartao">
                <h2>Cartão de crédito</h2>
                <app-cartao-credito
                    nomeCartao="HappyBank"
                    srcImgBandeira="../../../assets/imgs/Mastercard.png"
                    altImgBandeira="bandeira do cartão"
                    numCartao="5375 **** **** 0954"
                    nomeTitular="Donald Flinch Cortez"
                    validade="06/24">
                </app-cartao-credito>

                <div class="separador"></div>

                <div class="container-fatura">
                    <h4>Limite de crédito</h4>

                    <div class="barra-progresso">
                        <app-barra-progresso [usado]="30" [total]="100" vl_minimo ="6.000,00"  vl_maximo ="20.000,00"></app-barra-progresso>
                    </div>
                    <!-- Grafico donuts -->
                    <div class="grafico-donuts">
                        <app-grafico-donut ></app-grafico-donut>
                    </div>
                    
                    <div class="separador"></div>

                    <!-- Fatura aberta -->
                    <div class="container-detalhes-fatura">
                        <div class="fatura-aberta">
                            <h4>Fatura aberta</h4>
                            <p class="vencimento">venc: 15 março</p>
                        </div>
                        <p>Valor parcial</p>
                        <p class="valor">R$ 4.500,00</p>
                    </div>

                    <div class="separador"></div>

                    <p class="ver-mais mais">ver fatura ></p>
                
                </div>
            </div>

        </div>
       
        <div class="container-principal">
            
            <!-- Banner -->
            <div class="container-divulgacao">
                <div class="conteudo-divulgacao">
                    <div class="container-bem-vindo">
                        <p class="data">23 de Fevereiro de 2024</p>
                        <div class="item-bem-">
                            <p class="txt-bem-vindo txt-simplify"> Bem-vindo(a) a <span>SimplifyPay.</span></p>
                            <p class="txt-divulgacao">Descubra a simplicidade e eficiência do nosso serviço.</p>
                        </div>
                       
                    </div>
                    <div class="container-img-invest">
                        <img class="img-invest" src="../../../assets/imgs/invest.jpg" alt="Investir">
                    </div>

                </div>
            </div>
             
            <div class="separador"></div>

            <!-- Minha carteira -->        
            <div class="container-minha-carteira">
                <h2>Minha carteira</h2>
                <div class="content-minha-carteira">
    
                    <app-card 
                        tituloCard="Saldo"
                        srcIcone="../../assets/imgs/saldo.png"
                        altIcone="saldo" 
                        valor="67.000,00"
                        textoCard="Saldo disponível">
                    </app-card>
                    
                    <app-card 
                        tituloCard="Despesas"
                        srcIcone="../../assets/imgs/despesas.png" 
                        altIcone="despesas" 
                        valor="22.000,00"
                        textoCard="Despesas dos últimos 30 dias">
                    </app-card>

                    <app-card 
                        tituloCard="Investimentos"
                        srcIcone="../../assets/imgs/investimento.png" 
                        altIcone="investimentos" 
                        valor="170.000,00"
                        textoCard="Investimentos dos últimos 30 dias">
                    </app-card>
                </div> 
            </div>

            <div class="separador"></div>

            <!-- Histórico -->
            <div class="container-historico">
                <h2>Transações recentes</h2>
                <div class="container-subtitulo">
                    <h4>Veja seu histórico de transação</h4>
                    <div><a href="/transacoes" class="mais">Ver mais ></a></div>
                </div>
                       
                <app-tabela [transacoes]="transacoes"></app-tabela>
            </div>

        </div>
       

    </div>

</div>