button{
    width: 100%;
    display: block ;
    background-color: #264653;
    color: whitesmoke;
    padding: 0.7rem;
    font-weight: 600;
    font-size: 1.1rem;
    text-align: center;
    border: none;
    border-radius: 24px;
    margin-bottom: 1.3rem;
}

 button:hover,
 button:active{
    background-color: #264653b6;
}

button:disabled{
    background-color: #264653b6;
    opacity: 0.5;
}