<section class="doubts-presentation">
  <section class="doubt">
    <h2 class="doubt-h2">Alguma dúvida?</h2>

    <div class="doubt-item" data-id="doubt-1" id="doubt-1">
      <p data-id="doubt-1">A SimplifyPay é um banco digital?</p>
      <span data-isOpen="false"
        ><i data-id="doubt-1" class="fa-solid fa-chevron-down"></i
      ></span>
    </div>
    <div class="hidden doubt-info" id="doubt-1-1">
      <p>
        Não, a SimplifyPay não é um banco digital. Somos uma Instituição de
        Pagamento autorizada pelo Banco Central do Brasil que disponibiliza uma
        conta digital por meio de um aplicativo. Também podemos ser descritos
        como uma fintech, uma abreviação de "financial technology" (tecnologia
        financeira), já que utilizamos tecnologia para impulsionar a inovação
        financeira.
      </p>
    </div>

    <div class="doubt-item" data-id="doubt-2" id="doubt-2">
      <p data-id="doubt-2">
        É necessário ter uma renda básica para usar SimplifyPay?
      </p>
      <span data-isOpen="false"
        ><i data-id="doubt-2" class="fa-solid fa-chevron-down"></i
      ></span>
    </div>
    <div class="hidden doubt-info" id="doubt-2-2">
      <p>Você precisa ter uma renda mínima de R$ 0,01</p>
    </div>

    <div class="doubt-item" data-id="doubt-3" id="doubt-3">
      <p data-id="doubt-3">É seguro utilizar os serviços da SimplifyPay?</p>
      <span data-isOpen="false"
        ><i data-id="doubt-3" class="fa-solid fa-chevron-down"></i
      ></span>
    </div>
    <div class="hidden doubt-info" id="doubt-3-3">
      <p>
        A conta digital SimplifyPay é completamente segura e estamos
        constantemente investindo em recursos para assegurar a proteção dos
        nossos clientes. Por exemplo, oferecemos um cartão virtual para compras
        online, empregamos tokens em todos os procedimentos de validação de
        segurança no aplicativo, e também utilizamos autenticação por selfie e
        digital para acesso à conta.
      </p>
    </div>

    <div class="doubt-item" data-id="doubt-4" id="doubt-4">
      <p data-id="doubt-4">
        O que eu faço se perder meu cartão ou for roubado?
      </p>
      <span data-isOpen="false"
        ><i data-id="doubt-4" class="fa-solid fa-chevron-down"></i
      ></span>
    </div>
    <div class="hidden doubt-info" id="doubt-4-4">
      <p>
        Se o seu cartão for perdido ou roubado, avise-nos imediatamente! Nós
        vamos bloquear o cartão instantaneamente e enviaremos outro o mais
        rápido possível. Qualquer problema com o seu cartão, entre em contato
        conosco
      </p>
    </div>
  </section>
</section>
