
.circle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #808080;
  border-radius: 50%;
}

.circle-icon i {
  color: #808080;
}
