.transfer-wrapper{
    width: 100vw;
    padding: 5vh 0 10vh;
    font-family: 'Inter', 'Segoi UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-neutro-primario);
}

.content{
    width: 50%;
    height: 70%;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 var(--background-secundario);
    background-color: var(--background-neutro-terciario);
}

.user-amount{
    width: 100%;
    margin: auto;
    padding: 2rem 0;
    margin-bottom: 2rem;
    background-color: var(--background-secundario);
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}

.user-amount p:first-of-type{
    font-size: 2rem;
    letter-spacing: 2px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.user-amount p:last-of-type{
    font-weight: 300;
    padding-top: 0;
    margin-top: 0;
}

.btn{
    display: block  ;
    width: 100%;
}


.input-group input,
.input-group select,
.btn
{
    font-size: 1.3rem;
}

form{
    width: 80%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: auto;
}


h1{
    text-align: center;
    color: var(--cor-texto-terciario);
    font-size: 2rem;
    padding-bottom: 1rem;
}

p{
    margin-top: 1rem;
    font-size: 1.05rem;
}

.red{
    border: 1px solid red !important;
}

.img-eye{
    display: flex;
    justify-content: right;
    padding-right: 50px;
    margin-bottom: -20px;
}
@media(max-width: 768px){
    .content{
        width: 90%;
    }
}