<div class="table-responsive">
  <table class="tabela table table-hover">
    <thead>
      <tr>
        <th scope="col">Tipo</th>
        <th scope="col">Data</th>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
        <th scope="col">Descrição</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transacao of transacoes">
        <td>{{ transacao.type }}</td>
        <td>
          {{ transacao.date | date : "dd/MM/yyyy" }}
        </td>
        <td>{{ transacao.name }}</td>
        <td>R${{ transacao.value }}</td>
        <td>{{ transacao.description }}</td>
      </tr>
    </tbody>
  </table>
</div>
