<div class="table-responsive">
    <table class="tabela table table-hover ">
        <thead>
            <tr>
                <th scope="col">Tipo</th>
                <th scope="col">Data</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor</th>
                <th scope="col">Descrição</th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let transacao of transacoes"> 
                    <td>{{transacao.tipo}}</td>
                    <td>{{transacao.data}}</td>
                    <td>{{transacao.nome}}</td>
                    <td>R${{transacao.valor}}</td>
                    <td>{{transacao.descricao}}</td>
                </tr>
        </tbody>
    </table>
</div>