h1{
    padding-bottom: 1.25rem;
    font-size: 1.7rem;
    line-height: 24.2px;
    font-weight: 800;
    font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 span:first-of-type{
    display: inline-block;
    margin-right: 1rem;
}

h1 span:last-of-type{
    color: #5DA55C;
}