<section class="main-presentation">
  <section class="content">
    <h2>Simples. Transparente. Seguro.</h2>
    <h1>Simplify<span class="pay">Pay</span></h1>
    <h3>Soluções Bancárias.</h3>
    <h4>
      Produtos e serviços projetados para ajudá-lo a alcançar seus objetivos
      financeiros.
    </h4>
    <div class="d-inline-flex gap-3">
      <app-button-open-account></app-button-open-account>
      <button class="btn btn-outline-secondary btn-sm">
        <a
          class="nav-link active"
          aria-current="page"
          routerLink="signup"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Entre em contato</a
        >
      </button>
    </div>
  </section>
  <section class="banner"></section>
</section>
