h2 {
    color: #264653;
    font-size: 25px;
}

p {
    color: #808080;
}

table {
    border-radius: 13px;
    overflow: hidden;
    text-align: center;
}

thead th {
    background: #eeeeee;
    color: #6a6969;
}

tbody th {
    font-weight: initial;
    font-size: 15px;
}

.container {
    width: 1280px;
    border-radius: 13px;
    background-color: white;
    padding: 25px; 
    margin-top: 10px;
    margin-bottom: 10px;   
}

