<app-menu></app-menu>

<section class="deposity-wrapper">
  <h1>Depositar</h1>
  <section class="content">
    <form [formGroup]="deposityForm" (ngSubmit)="submit()">
      <div class="input-group mb-3">
        <span class="input-group-text">$</span>
        <input
          type="number"
          min="0"
          class="form-control"
          aria-label="Dollar amount (with dot and two decimal places)"
          placeholder="Valor"
          #value
          required
          formControlName="amount"
          [value]="deposityForm.get('amount')?.value"
        />
        <span class="input-group-text">{{
          deposityForm.get("amount")?.value
            ? (deposityForm.get("amount")?.value | currency : "BRL")
            : "R$0.00"
        }}</span>
      </div>
      <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text" id="addon-wrapping"
          ><img src="../../../assets/imgs/login-cadastro/u_user.svg" alt=""
        /></span>
        <input
          type="text"
          class="form-control"
          placeholder="Name"
          aria-label="userName"
          aria-describedby="addon-wrapping"
          #userName
          formControlName="userName"
          required
          [value]="deposityForm.get('userName')?.value"
        />
      </div>

      <div class="input-group flex-nowrap mb-3">
        <span class="input-group-text" id="addon-wrapping">{{ "@" }} </span>
        <input
          type="text"
          class="form-control"
          placeholder="Email"
          aria-label="userEmail"
          aria-describedby="addon-wrapping"
          #userName
          required
          formControlName="userEmail"
          [value]="deposityForm.get('userEmail')?.value"
        />
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Modo</label>
        <select
          class="form-select"
          id="inputGroupSelect01"
          required
          formControlName="type"
          [value]="deposityForm.get('type')?.value"
          #type
        >
          <option selected value="BOLETO">Boleto</option>
          <option value="DEPOSITO_BANCARIO">Deposito bancário</option>
          <option value="TRANSFERENCIA">Transferencia</option>
          <option value="PIX">Pix</option>
        </select>
      </div>

      <button
        type="button"
        class="btn btn-success"
        data-bs-toggle="modal"
        data-bs-target="#staticBackdrop"
        [disabled]="!deposityForm.valid"
      >
        Depositar
      </button>
      <p class="alert-info alert">Um e-mail de confirmação será enviado.</p>

      <!-- Modal -->
      <div
        class="modal fade"
        id="staticBackdrop"
        data-bs-backdrop="static"
        data-bs-keyboard="false"
        tabindex="-1"
        aria-labelledby="staticBackdropLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1
                class="modal-title fs-5"
                id="staticBackdropLabel"
                style="text-align: center; color: black"
              >
                Confirmar deposito de:
                <span style="color: red">{{
                  deposityForm.get("amount")?.value | currency : "BRL"
                }}</span>
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Voltar
              </button>
              <button
                type="submit"
                class="btn btn-warning btn-sm"
                data-bs-dismiss="modal"
              >
                Confirmar
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </section>
</section>

<app-footer></app-footer>
