<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a
        class="navbar-brand"
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        ><figure>
          <img
            src="../../../assets/imgs/logo.png"
            alt=""
            title="SimplifyPay"
            width="200px"
          /></figure
      ></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="/"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Produtos</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="/"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Sobre nós</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="/"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Central de ajuda</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="/"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Blog</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item old-client">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="login"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Já sou cliente <i class="fa-solid fa-right-from-bracket"></i
                ></a>
              </li>
              <li class="nav-item new-client btn-info btn">
                <a
                  class="nav-link active"
                  aria-current="page"
                  routerLink="signup"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  >Abra sua conta</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
