<div class="container">
    <div class="conteudo">
        <div class="grid-bandeira">
            <div>{{nomeCartao}}</div>
            <div class="justificar-direita">
                <img [src]="srcImgBandeira" [alt]="altImgBandeira" class="bandeira">
            </div>
        </div>
        <div class="grid-chip">
            <img src="../../../assets/imgs/chip.png" alt="chip" class="img-chip">
            <img src="../../../assets/imgs/conection.png" alt="aproximacao" class="img-aproximacao">
        </div>

        <div>
            <div class="numero-cartao sombra">{{numCartao}}</div>
        </div>

        <div class="grid-dados sombra">
            <div class="titular">{{nomeTitular}}</div>
            <div class="grid-validade">
                <div class="validade">VALID.</div>
                <div class="justificar-direita">{{validade}}</div>
            </div>
        </div>


    </div>
</div>