<section id="section-cadastro" class="cadastro-form">
  <figure>
    <img
      src="../../../assets/imgs/logo.png"
      alt=""
      title="SimplifyPay"
      width="200px"
    />
  </figure>

  <h2>Junte-se a nós!</h2>
  <h3>Maior controle para suas finanças!</h3>

  <p>Preencha o formulário abaixo para realizar seu cadastro.</p>
  <form
    action=""
    [formGroup]="cadastroForm"
    (submit)="onSubmit($event)"
    id="cadastro-form"
  >
    <div class="input-icons">
      <img
        src="../../../assets/imgs/login-cadastro/fi_mail.svg"
        alt="Email Icon"
      />
      <input
        type="email"
        name="userEmail"
        id="userEmail"
        placeholder="Email"
        formControlName="userEmail"
        autocomplete="off"
        #userEmail
        required
        [ngClass]="
          cadastroForm.get('userEmail')?.invalid &&
          (cadastroForm.get('userEmail')?.touched ||
            cadastroForm.get('userEmail')?.dirty)
            ? 'red'
            : 'green'
        "
      />
      <i
        *ngIf="
          cadastroForm.get('userEmail')?.invalid &&
          (cadastroForm.get('userEmail')?.touched ||
            cadastroForm.get('userEmail')?.dirty)
        "
        class="fa-solid fa-circle-exclamation"
      ></i>
      <div
        *ngIf="
            cadastroForm.get('userEmail')?.invalid && cadastroForm.get('userEmail')?.errors?.['userExists'] &&
            (cadastroForm.get('userEmail')?.touched ||
              cadastroForm.get('userEmail')?.dirty)
          "
      >
        <p class="alert alert-danger">Email em uso.</p>
      </div>
    </div>
    <div class="input-icons">
      <img
        src="../../../assets/imgs/login-cadastro/u_user.svg"
        alt="User Icon"
      />
      <input
        type="text"
        name="userName"
        id="userName"
        placeholder="Nome Completo"
        formControlName="userName"
        autocomplete="off"
        #userName
        required
        [ngClass]="
          cadastroForm.get('userName')?.invalid &&
          (cadastroForm.get('userName')?.touched ||
            cadastroForm.get('userName')?.dirty)
            ? 'red'
            : 'green'
        "
      />
      <i
        *ngIf="
          cadastroForm.get('userName')?.invalid &&
          (cadastroForm.get('userName')?.touched ||
            cadastroForm.get('userName')?.dirty)
        "
        class="fa-solid fa-circle-exclamation"
      ></i>
    </div>
    <div class="input-icons">
      <img
        src="../../../assets/imgs/login-cadastro/u_lock.svg"
        alt="Lock Icon"
      />
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Nova Senha"
        formControlName="password"
        #password
        required
        [ngClass]="
          cadastroForm.get('password')?.invalid &&
          (cadastroForm.get('password')?.touched ||
            cadastroForm.get('password')?.dirty)
            ? 'red'
            : 'green'
        "
      />
      <i
        *ngIf="
          cadastroForm.get('password')?.invalid &&
          (cadastroForm.get('password')?.touched ||
            cadastroForm.get('password')?.dirty)
        "
        class="fa-solid fa-circle-exclamation"
      ></i>
    </div>
    <div class="input-icons">
      <img
        src="../../../assets/imgs/login-cadastro/u_lock.svg"
        alt="Lock Icon"
      />
      <input
        type="password"
        name="password-confirmation"
        id="password-confirmation"
        placeholder="Confirme sua Senha"
        formControlName="passwordConfirmation"
        #passwordConfirmation
        required
        [ngClass]="
          cadastroForm.get('passwordConfirmation')?.invalid &&
          (cadastroForm.get('passwordConfirmation')?.touched ||
            cadastroForm.get('passwordConfirmation')?.dirty)
            ? 'red'
            : 'green'
        "
      />
      <i
        *ngIf="
          cadastroForm.get('passwordConfirmation')?.invalid &&
          (cadastroForm.get('passwordConfirmation')?.touched ||
            cadastroForm.get('passwordConfirmation')?.dirty)
        "
        class="fa-solid fa-circle-exclamation"
      ></i>
      <label
        *ngIf="
            cadastroForm.errors?.['mismatch'] &&
            (cadastroForm.get('passwordConfirmation')?.touched ||
              cadastroForm.get('passwordConfirmation')?.dirty)
          "
      >
        Senhas devem ser iguais.
      </label>
      <label
        *ngIf="
        cadastroForm.get('password')?.errors?.['minlength'] &&
        (cadastroForm.get('password')?.touched ||
          cadastroForm.get('password')?.dirty)
      "
      >
        Senha deve ter pelo menos 8 caracteres.
      </label>
    </div>

    <app-form-button
      [text]="'Registrar'"
      [isDisabled]="!cadastroForm.valid"
    ></app-form-button>
  </form>
  <p>
    Já possui conta?<a
      class="cadastre"
      routerLink="/login"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      Entrar</a
    >
  </p>
</section>
