.container-perfil {
  margin: 0;
  font-family: "Lato", sans-serif;
  display: flex;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: minmax(10%, 250px);
  background-color: #ffffff;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
  border-right: 1px solid #e0e0e0;
}

.home{
  width: 100%;
}

.sidebar a {
  display: block;
  color: black;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #f0f0f0;
  color: black;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar a:hover:not(.active) {
  background-color: #f0f0f0;
  color: black;
  margin: 5px 10px;
  border-radius: 15px;
}

div.content {
  width: 100%
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: 80px;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}
