@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --background-primario: #104255;
    --background-secundario: #5DA55C;
    --background-neutro-primario:#E6E5E5;
    --background-neutro-secundario:#fff;
    --cor-texto-primario:rgba(16, 66, 85, 0.88);
    --cor-texto-secundario:#264653;
    --cor-texto-terciario: #5DA55C;
    --cor-subtitulo-primaria: #808080;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url('assets/fonts/Poppins-1/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    background-color: var(--background-neutro-primario);
}

/* Entrada de animação */

.fade-in {
	-webkit-animation: fade-in 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 0.25s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


 @-webkit-keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      @keyframes fade-in {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      
  /* Saida de animação */
