
<div class="container-home">

<!-- Ações rápidas -->
<div class="container-acao-rapida">
    <div class="content-acao-rapida">
        <h4>Ações Rápidas</h4>
        <div class="grid-icones">
            <div class="item-acao-rapida">
                <img class=img-acao-rapida src="../../assets/imgs/pix.png" alt="Pix">
                <p class="nome-icone">Área Pix</p>
            </div>
            <div class="item-acao-rapida">
                <img class="img-acao-rapida" src="../../assets/imgs/transf.png" alt="Pix">
                <p class="nome-icone">Transferir</p>
            </div>
            <div class="item-acao-rapida">
                <img class=img-acao-rapida src="../../assets/imgs/transacao.png" alt="Pix">
                <p class="nome-icone">Transações</p>
            </div>
            <div class="item-acao-rapida">
                <img class=img-acao-rapida src="../../assets/imgs/add.png" alt="Pix">
                <p class="nome-icone">Adicionar atalhos</p>
            </div>
        </div>
    </div>
</div>


</div>