<div class="container">
    <div class="conteudo">
        <div class="grid-bandeira">
            <div>SimpliBank</div>
            <div class="justificar-direita"><img src="../../../assets/imgs/Mastercard.png" alt="mastercard" class="bandeira"></div>
        </div>
        <div class="grid-chip">
            <img src="../../../assets/imgs/chip.png" alt="chip" class="img-chip">
            <img src="../../../assets/imgs/conection.png" alt="aproximacao" class="img-aproximacao">
        </div>
        
        <div><div class="numero-cartao sombra">5375 **** **** 0954</div></div>
        
        <div class="grid-dados sombra">
            <div class="titular">Donald Flinch Cortez</div>
            <div class="grid-validade">
                <div class="validade">VALID.</div>
                <div class="justificar-direita">06/24</div>
            </div>
        </div>
        

    </div>
</div>
